<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link href="/orders.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><img class="logo" src="/logo/hjm-logo.png" /></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Orders</h2>
              <form action="/orders" method="post">
          <input
            name="customerName"
            type="text"
            placeholder="Search by customer name"
          />
          <button type="submit">Search</button>
        </form>
      <section>

          {{#each orders}}
            <h2 class="order-code">{{this.orderCode}}</h2>
            <div class="order">
              <article class="order-details">
              <h4>Order Details</h4>
              <p>Order Items: {{this.orderItems}}</p>
              <p>Order Total: {{this.orderTotal}}</p>
              </article>
              <article class="customer-details">
              <h4>Customer Details</h4>
               <p>Name: {{this.customerName}}</p>
               <p>Address: {{this.deliveryAddress}}</p>
              </article>
              <article class="status">
              <h4>Order Status</h4>
              <p>{{this.orderStatus}}</p>
              </article>
              <article class="order-date">
              <h4>Ordered Date</h4>
              <p>{{this.orderDate}}</p>
              </article>
              {{#if this.driverId}}
              <article class="delivery-details">
              <h4>Delivered By</h4>
              <p>Name: {{this.driverName}}
              <p>License Plate: {{this.driverLicensePlate}}</p>
              <p>Proof of Delivery: {{this.proofOfDelivery}}</p>
              </article>
              {{/if}}
              {{#if this.isReceived}}
              <article class="action">
              <h4>Action</h4>
              <div class="btn-wrapper">
                <button class="btn-deliver" type="submit">Send to Delivery</button>
              </div>
              </article>
              {{/if}}
            </div>
          {{/each}}
      </section>
    </main>
  </body>
</html>